/* Navbar.css */

.navbar {
  background-color: var(--body_background); /* Tailwind's blue-600 */
  color: var(--body_color);
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;

}

.navbar-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--body_color);
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-link {
  text-decoration: none;
  color: var(--body_color)
  font-weight: 500;
  transition: opacity 0.2s;
}

.navbar-link:hover {
  opacity: 0.8;
}
